span.rev {
	unicode-bidi: bidi-override;
	direction: rtl;
}
span.rev.email:before {
	content: "ch.knirepeiddivad";
}
span.rev.email:after {
	content: "tcatnoc";
}
span.rev.phone:before {
	content: "03 09 956 ";
}
span.rev.phone:after {
	content: " 14+";
}
